body {
    background-color: bisque;
}

div {
    background-color: whitesmoke;
}

.card-title {
    font-family: Lato;
}

.card-body {
    height: 100%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.card {
    margin-left: 12.5%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.card-img {
    height: 100%;
    border-style: groove;
    border-width: 4px;
}

#searchHeading {
    margin-left: 12.5%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: Montserrat;
    font-weight: 700;
}